<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdjustAppToken</key>
	<string>$(ADJUST_APP_TOKEN)</string>
	<key>AdjustSignUpEventToken</key>
	<string>$(ADJUST_SIGN_UP_EVENT_TOKEN)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.mozilla.pocket.refresh.saves</string>
		<string>com.mozilla.pocket.refresh.home</string>
		<string>com.mozilla.pocket.refresh.archive</string>
		<string>com.mozilla.pocket.refresh.tags</string>
		<string>com.mozilla.pocket.refresh.unresolved</string>
		<string>com.mozilla.pocket.refresh.user</string>
		<string>com.mozilla.pocket.refresh.featureFlags</string>
	</array>
	<key>BrazeAPIEndpoint</key>
	<string>$(BRAZE_API_ENDPOINT)</string>
	<key>BrazeAPIKey</key>
	<string>$(BRAZE_API_KEY)</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Pocket</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.mozilla.pocket.next</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pocket-next</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GroupId</key>
	<string>$(GROUP_ID)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>PocketAPIBaseURL</key>
	<string>$(POCKET_API_BASE_URL)</string>
	<key>PocketAPIConsumerKey</key>
	<string>$(POCKET_API_CONSUMER_KEY)</string>
	<key>PocketAPIConsumerKeyPad</key>
	<string>$(POCKET_API_CONSUMER_KEY_PAD)</string>
	<key>PocketPremiumAnnual</key>
	<string>$(POCKET_PREMIUM_ANNUAL)</string>
	<key>PocketPremiumMonthly</key>
	<string>$(POCKET_PREMIUM_MONTHLY)</string>
	<key>SentryDSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>SnowplowEndpoint</key>
	<string>$(SNOWPLOW_ENDPOINT)</string>
	<key>SnowplowIdentifier</key>
	<string>$(SNOWPLOW_IDENTIFIER)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
