<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>PocketAPIBaseURL</key>
	<string>$(POCKET_API_BASE_URL)</string>
	<key>PocketAPIConsumerKey</key>
	<string>$(POCKET_API_CONSUMER_KEY)</string>
	<key>PocketPremiumAnnual</key>
	<string>$(POCKET_PREMIUM_ANNUAL)</string>
	<key>PocketPremiumMonthly</key>
	<string>$(POCKET_PREMIUM_MONTHLY)</string>
	<key>SentryDSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>GroupId</key>
	<string>$(GROUP_ID)</string>
	<key>SnowplowEndpoint</key>
	<string>$(SNOWPLOW_ENDPOINT)</string>
	<key>SnowplowIdentifier</key>
	<string>$(SNOWPLOW_IDENTIFIER)</string>
	<key>AdjustAppToken</key>
	<string>$(ADJUST_APP_TOKEN)</string>
	<key>AdjustSignUpEventToken</key>
	<string>$(ADJUST_SIGN_UP_EVENT_TOKEN)</string>
</dict>
</plist>
