<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BrazeAPIEndpoint</key>
	<string>$(BRAZE_API_ENDPOINT)</string>
	<key>BrazeAPIKey</key>
	<string>$(BRAZE_API_KEY)</string>
	<key>GroupId</key>
	<string>$(GROUP_ID)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>SUBQUERY(extensionItems, $extensionItem, SUBQUERY($extensionItem.attachments, $attachment, (ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.url" OR ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.plain-text") AND (NOT ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.file-url") AND (NOT ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "com.apple.application-bundle")).@count &gt; 0).@count &gt; 0</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
		<key>NSExtensionPrincipalClass</key>
		<string>SaveToPocketKit.MainViewController</string>
	</dict>
	<key>PocketAPIBaseURL</key>
	<string>$(POCKET_API_BASE_URL)</string>
	<key>PocketAPIConsumerKey</key>
	<string>$(POCKET_API_CONSUMER_KEY)</string>
	<key>PocketAPIConsumerKeyPad</key>
	<string>$(POCKET_API_CONSUMER_KEY_PAD)</string>
	<key>SentryDSN</key>
	<string>$(SENTRY_DSN)</string>
</dict>
</plist>
