POCKET_API_CONSUMER_KEY=test-consumer-key
#Note: you need the $() in the url because of how xcconfig expands urls.
SENTRY_DSN=https:/$()/somesentry@testurl.sentry.io/123456
BRAZE_API_KEY=123123123123-zcsd-132123-csd
BRAZE_API_ENDPOINT=someendpoint
GROUP_ID=group.com.ideashower.ReadItLaterPro
